  .board {
    display: grid;
    grid-template-columns: repeat(14, 4vw);
    grid-template-rows: repeat(14, 7vh);
    /* gap: 1px; */
  }
  
  .space {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    color: inherit;
    position: relative;
  }

  .extension-space {
    border: 1px dotted black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    color: inherit;
    position: relative;
  }
  
  .space-info {
    /* font-size: 9px; */
    font-size: 0.7vw;
    background-color: transparent;
    text-align: center;
  }

  .extension-space-info {
    font-size: 30px;
    background-color: transparent;
    text-align: center;
  }
  
  .players {
    position: absolute;
    bottom: 2px;
    left: 2px;
    display: flex;
    gap: 2px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .token {
    background: red;
    color: white;
    font-size: 10px;
    padding: 2px;
    border-radius: 3px;
    display: block;
  }